typeset -A config
config=(
  [somekey]="somevalue"
  [gitrepo]=
  [graphdb]="http://localhost:7200"
  [modelpath]=
  [repo_prod]=
  [repo_staging]=
)

config_modelfolders=( 
  [0]="."
  [1]="things"
  [2]="things/persons"
)

